.about-container {
    padding-top: 9rem;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
}
.about-heading {
    font-size: 2.5rem;
    font-weight: inherit;
    margin: 0;
}

.about-text {
    color: black;
    padding-top: 1.5rem;
    line-height: 2rem;
    margin: 0;
}

/*Styles*/
@media (min-width: 770px) {
    .about-heading {
        font-size: 3.5rem;
    }

    .about-text {
        font-size: 1.2rem;
    }
}
@media (min-width: 770px) {
    .about-heading {
        font-size: 1.9rem;
    }
     .about-text {
        font-size: 1.5rem;
     }
     .about-container {
        padding-top: 6.5rem;
     }
    }